<div class="block">
  <div class="notification">
    Header will go here
    <ul>
    <li style="display: inline-block;"><a href="/home">Home</a></li>
    <li style="display: inline-block;"><a href="/search">Search</a></li>
    <li style="display: inline-block;"><a href="/messages">Messages</a></li>
    <li style="display: inline-block;"><a href="/messages/new">New Message</a></li>
    <li style="display: inline-block;"><a href="/profile">Profile</a></li>
    </ul>
  </div>
</div>