<div class="app-notification">
  <div class="app-header">C0D3R</div>
  <ul class="app-header-menu">
    <li class="app-header-item-container"><a class="app-header-item" href="/home">Home</a></li>
    <li class="app-header-item-container"><a class="app-header-item" href="/search">Search</a></li>
    <li class="app-header-item-container"><a class="app-header-item" href="/messages">Messages</a></li>
    <li class="app-header-item-container"><a class="app-header-item" href="/profile">Profile</a></li>
    <li class="app-header-item-container"><a class="app-header-item" href="/logout">Logout</a></li>
  </ul>
</div>