<form method="POST" action="/newprofile">
<input type="text" name="alias" value="{{alias}}">
<br>
<br>
<input type="text" name="gitihubid" value="{{gitHubId}}">
<br>
<br>
<p>{{username}}"</p>
<br>
<br>
<input type="text" name="fname">
<br>
<br>
<input type="text" name="lname">
<br>
<br>
<input type="text" name="gitURL" value="{{gitURL}}">
<br>
<br>
<input type="text" name="employer">
<br>
<br>
<input type="text" name="city" value="{{}}">
</form>