{{!-- <h1><strong>This is the logged in new messages page.</strong></h1>--}}

<form method="POST" action="/messages/new">
    <label for="">Recipients:</label><br><input type="text" name="recipients">
    <br>
    <label for="">Message:</label><br><textarea rows="2" cols="25" placeholder="This is the default text" name="message"></textarea><br>
    <input type="submit">
    <input type="reset">
</form> 