<div class="block">
    &nbsp;
    {{#if this.justSentMessage}}
        <span class="has-text-success"> Message Sent!</span>
    {{/if}}

    {{#if this.messageFailed}}
        <span class="has-text-warning">Send Failed!</span>
    {{/if}}

    <div class="is-pulled-right">
        <a href="/messages" class="button is-info">Back to Messages</a>
    </div>
</div>

<form method="POST" action="/messages/new">
    <input type="hidden" name="user_id" value={{this.user_id}}>

    <div class="block">

        <div class="field">
            <label class="label">Recipients</label>
            <div class="control">
                <input class="input" type="text" name="recipients" placeholder="GitHub Alias">
                <p class="help">Use recipients' GitHub alias. For multiple recipients, separate aliases with a comma and space, such as <span class="is-italic">user1, user2, user3</span>.</p>
            </div>
        </div>

        <div class="field">
            <label class="label">Message</label>
            <div class="control">
                <textarea class="textarea" rows="5" placeholder="Enter a message" name="message"></textarea>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="button is-primary" type="submit">
                <input class="button is-primary" type="reset">
            </div>
        </div>
    </div>

</form> 