.app-profile-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 20px; */
    font-family: 'Raleway', sans-serif;
}

.app-clear-again-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
    font-size: 12px !important;
}

.profile-container {
    background-color: #d9d7cc;
    font-size: 10px !important;
    margin: 20px;
    display: flex;
}

.control {
    font-size: 12px !important;
}

.profile-info {
    padding: 20px;
}

.app-avatar {
    width: 100px;
    height: 100px;
    margin: 30px;
}

.app-profile-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.sidebutton{
    height: auto;
    width: 100%;  
    /* position: fixed; */
    z-index: 1;
    overflow-x: hidden;
    text-align: center;
    align-items: center;
}
.inline{
    color: #fffcf8;
    background-color: #dea1ad;
    align-items: left;
    text-align: left;
    border: none;
    display: inline;
    width: auto;
    margin-bottom: 1%;
}
.hide{
    display: none;
}