.app-profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-family: 'Cormorant Garamond', serif;
}

.profile-container {
    background-color: #d9d7cc;
    font-size: 10px !important;
    margin: 20px;
    display: flex;
}

.control {
    font-size: 10px !important;
}

.profile-info {
    padding: 20px;
}

.app-avatar {
    width: 100px;
    height: 100px;
    margin: 30px;
}

.app-profile-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}