html, body {
    height: 100%;
    width: 100%;
}

.login-background-container {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.login-background {
    background-image: url(../images/5.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-title {
    font-family: 'Cormorant Garamond', serif;
    color: #fffcf8;
    font-size: 70px;
}

.description {
    color: #fffcf8;
    margin-bottom: 20px;
}

.app-button {
    background-color: #fffcf8;
    color: #dea1ad;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.app-button-2 {
    color: #fffcf8;
    background-color: #dea1ad;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 20px;
    cursor: pointer; 
}

.app-background {
    background-color: #fffcf8; 
}

.app-header {
    color: #fffcf8;
    font-family: 'Cormorant Garamond', serif;
}

.app-notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dea1ad;
    padding: 10px;
}

.app-header-menu {
    display: flex;
    align-items: center;
}

.app-header-item-container {
    display: flex;
    align-items: center;
}

.app-header-item {
    color: #fffcf8;
    font-size: 10px;
    margin-left: 10px;
}

.app-header-item:hover {
    color: #cad7f2;
}

/* .is-primary {
    color: #fffcf8 !important;
    background-color: #dea1ad !important;
} */

.app-wrapper {
    margin: 20px;
    margin-bottom: 50px;
}