html, body {
    height: 100%;
    width: 100%;
}

.login-background-container {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.login-background {
    background-image: url(../images/5.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-title {
    font-family: 'Cormorant Garamond', serif;
    color: #fffcf8;
    font-size: 70px;
}

.description {
    color: #fffcf8;
    margin-bottom: 20px;
}

.app-button {
    background-color: #fffcf8;
    color: #dea1ad;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}